@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: #222;
}
navbar {
  padding: 0.8rem;
}
.navbar-nav li {
  padding-right: 20px;
}
.navbar-link {
  font-size: 1.1em !important;
}
.carousel-inner img {
  height: 100%;
  width: 100%;
}
.carousel-caption {
  position: absolute;
}
.carousel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}
.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px;
  padding-bottom: 1rem;
}
